body{
    background-color: aqua;
}
div.a{
    text-align: center;

}
img.b{
    width: 5%;
    height: 5%; 
   display: flexbox;
}
div.c {
    border-top: 3px dashed #000000;}
    div.j{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #1eff00;
        font-size: 500%;
        text-align: center;
        
    }

    footer {
      
        color: #000000;
        text-align: center;
        padding: 10px;
        margin: 5px;
    }